@{
  <div style="margin: 10px 5px; text-align: center; @ContainerStyle">
    @if (Number.HasValue)
    {
      <span>@Number.Value</span>
    }
    <div style="@BarStyle" />
  </div>
}

@code {
    [Parameter]
    public string BarStyle { get; set; } = string.Empty;
    [Parameter]
    public string? ContainerStyle { get; set; }
    [Parameter]
    public int? Number { get; set; }
}
