<button type="button" class="btn btn-dark" style="margin: 5px" @onclick="OnClick" disabled="@IsDisabled">@Title</button>

@code {
  [Parameter]
  public string Title { get; set; } = string.Empty;
  [Parameter]
  public bool IsDisabled { get; set; }
  [Parameter]
  public EventCallback<MouseEventArgs> OnClick { get; set; } = EventCallback<MouseEventArgs>.Empty;
}
